@font-face {
	font-family:'Dosis','arial';
	src:url('fonts/Dosis.ttf');	
	font-family:'Bungee Shade';
	src:url('fonts/BungeeShade-Regular.ttf');
	

}
body {
	background-color:#E5F1FE;
	font-family: 'Dosis', sans-serif;
}
ul {
	margin:auto;
	text-align:center;
	padding:0;
}
li {
	display:inline-block;
	width:30%;
	margin:auto;
}

input[type='radio'] {
	vertical-align: middle;	
}
input[type='button'] {
	border-radius:10px;
	width:120px;
	height:30px;
	background-color:#E5F1FE;
	color:black;
	border:2px solid black;
	font-family: 'Dosis', sans-serif;
	font-size:1em;
	font-weight:bold;
	margin-right:20px;

}
input[type='button']:hover {
	background-color:black;
	color:#E5F1FE;
	transition:0.2s;	
}
input[type='radio'] {
	display:none;
}
label {
	cursor:pointer;

}
label:hover {
	font-weight:bold;
	transition:0.2s;
}
label:before {
	content:"";
	display:inline-block;
	width:16px;
	height:16px;
	margin-right:10px;	
	background-color:#E5F1FE;
	box-shadow: inset 0px 2px 2px 0px rgba(0, 0, 0, .3), 0px 1px 0px 0px rgba(255, 255, 255, .8);
	border-radius:10px;
	vertical-align: middle;
	border:2px solid black;
}
input[type=radio]:checked + label:before {
    content: "\2022";
    color: black;
    font-size: 36px;
    text-align: center;
    line-height: 10px;
}
input[type='text'] {
	width:260px;
	border:2px solid black;
	border-radius:10px;
	padding-left:10px;
	background-color:#E5F1FE;
	font-family:'Dosis',sans-serif;
	font-size:1em;
}
.hide {
	display:none;
}
.show {
	display:block;
}
.pecas,
.pecas-desativadas {
	display:inline-block;
	border:2px solid black;
	margin: 0 auto;
}
.pecas img,
.pecas-desativadas img {
	width:100%;
	height:100%;	
}
.pecas:hover {
	-webkit-transform:scale(0.98); /* Safari and Chrome */
    -moz-transform:scale(0.98); /* Firefox */
    -ms-transform:scale(0.98); /* IE 9 */
    -o-transform:scale(0.98); /* Opera */
    transform:scale(0.98);
    transition:0.2s;
}
.tabela {
	margin:0 auto;
	width:100%;
	margin-bottom:0px;
}
.tabela th,
.tabela td {
	padding:0px;
	text-align:center;
	width:33%;
}
.tabela-recordes {
	margin:0 auto;
	width:100%;
	margin-bottom:30px;
}
.tabela-recordes td {
	padding:0px;
	text-align:center;
	width:33%;
}
.seletoresDificuldade {
	width:80%;
	height:auto;
	margin:0 auto;
	text-align:justify;
	padding-left:40%;
}
.seletoresCategoria {
	padding-left:40%;
	width:80%;
	margin:0 auto;
	text-align:justify;
}
#telaDificuldade {
	margin:0 auto;
	text-align:center;
	width:50vw;
	padding:50px;	
	height:60%;
}
#telaDificuldade h1 {
	margin-top:0px;
	font-family: 'Bungee Shade', cursive;
	font-size:2.2em;
}
#telaDificuldade p {
	font-size:1.2em;
}
#telaJogo {
	width:75%;
	margin:0 auto;
	margin-top:10px;
	height:89vh;
}
#botaoVoltar{	
	margin:auto;
	margin-top:5px;
	width:120px;
}
#telaFimJogo {
	margin:auto;
	width:50vw;	
	height:65vh;	
	padding:50px;
}


#telaRecordes {
	margin:auto;
	width:50vw;	
	text-align:center;
}




